.idea
sample_jpa/target
sample_jbehave/target
sample_osgi/target
sample_dns/target
sample_guitest/target
sample_jdom2/target
sample_eventbus/target
sample_mapreduce_wordcount/target/
sample_xmpp/target
sample_mongodb/target/
sample_pageobject/target/
sample_gwt/target
sample_gwt/WEB-INF/
simpleDb
derby.log
sample_guice/target
*.iml